/* list */

table.bbslist_table_style {border-top:2px solid #545454; border-bottom:1px solid #000; font-size:11px; color:#444;}
table.bbslist_table_style thead th {height:26px; background:url('../../images/design/tbl_th_bg.gif') repeat-x; border-left:1px solid #e0e0e0; border-bottom:1px solid #bbbbbb; font-weight:normal;}
table.bbslist_table_style thead th:first-child {border-left:0px;border-top:1px solid #e0e0e0;} 
table.bbslist_table_style tbody td.cell {height:24px; padding-top:4px; padding-bottom:4px; border-top:1px solid #e0e0e0;}
table.bbslist_table_style tbody td.cell:first-child {border-left:0px;} 
table.bbslist_table_style tbody tr td.cell:first-child {border-left:0px;}
table.bbslist_table_style tbody tr:first-child td.cell {border-top:0px;}

table.bbsview_table_style {border-top:2px solid #545454;font-size:11px; color:#444;}
table.bbsview_table_style thead th {height:26px; background:url('../../images/design/tbl_th_bg.gif') repeat-x; border-left:0px solid #e0e0e0; border-bottom:1px solid #bbbbbb; font-weight:normal;}
table.bbsview_table_style thead th:first-child {border-left:0px;} 
table.bbsview_table_style tbody td.cell {height:24px; padding-top:4px; padding-bottom:4px; border-bottom:1px solid #e0e0e0; border-left:1px solid #e0e0e0;}
table.bbsview_table_style tbody td.cell_bar {width:30px; text-align:center; color:#ccc;}
table.bbsview_table_style tbody td.cell:first-child {border-left:0px;} 
table.bbsview_table_style tbody tr td.cell:first-child {border-left:0px;}
table.bbsview_table_style tbody tr:first-child td.cell {border-top:0px;}

table.bbswrite_table_style {border-collapse:collapse;border-top:2px solid #545454;font-size:11px; color:#444;}
table.bbswrite_table_style th.cell,
table.bbswrite_table_style td.cell {text-indent:10px; text-align:left; height:24px; padding-top:4px; padding-bottom:4px; border-bottom:1px solid #e0e0e0; border-left:1px solid #e0e0e0;}
table.bbswrite_table_style th.cell {font-weight:normal; font-size:12px;} 
table.bbswrite_table_style td.cell {}
table.bbswrite_table_style tr th.cell:first-child {border-left:0px;}
table.bbswrite_table_style tr:first-child th.cell,
table.bbswrite_table_style tr:first-child td.cell {border-top:0px;}

table.comment_box_table {}
table.comment_box_table {}

.gray {color:#999}
.bbs_btn {border:0px; background-color:#000; color:#fff; font-family:dotum; font-size:11px; height:20px; letter-spacing:-1px; padding:0 7px; cursor:pointer}
.bbs_btn_gray {border:0px; background-color:#777; color:#fff; font-family:dotum; font-size:11px; height:20px; letter-spacing:-1px; padding:0 7px; cursor:pointer}

#bbslist {margin:auto;padding:0 0 30px 0;}
#bbslist .article_info {font-size:11px;font-family:gothic,dotum;color:#c0c0c0;padding:5px 0 0 5px;}
#bbslist .article_info a {position:relative;top:3px;left:3px;}

#bbslist table caption {display:none;}
#bbslist thead .side1 {border-left:#D2D2D2 solid 1px;}
#bbslist thead .side2 {border-right:#D2D2D2 solid 1px;}
#bbslist tbody .noticetr td a {font-weight:bold;}
#bbslist tbody .datalist {padding:7px;} 

#bbslist .now {color:#ff0000;font-size:11px;}
#bbslist .cat {font-size:12px;font-family:gothic,gulim;color:#888;letter-spacing:-1px;}
#bbslist .sbj {text-align:left;padding-left:10px;letter-spacing:0px;}
#bbslist .sbj .imgpos {margin-bottom:-1px;}
#bbslist .sbj a {font-size:12px;font-family:gothic,gulim;color:#222222;text-decoration:none;line-height:150%;}
#bbslist .sbj a:hover {text-decoration:underline;}
#bbslist .sbj .new {color:#ff0000;}
#bbslist .sbj .comment {font:normal 11px arial;color:#FC6138;}
#bbslist .sbj1 {text-align:left;padding:5px 0 3px 10px;font-size:12px;font-family:gothic,gulim;color:#222222;line-height:150%;}
#bbslist .name {color:#222222;font-family:dotum;font-size:12px;color:#888;}
#bbslist .name a {color:#888;}
#bbslist .hit {font-size:10px;color:#515190;}
#bbslist .searchform {padding:30px 0 0 0;text-align:center;}
#bbslist .searchform select {font-size:12px;font-family:gulim;height:20px;vertical-align:bottom;padding:2px;}

#prenextlist {margin:auto;padding:0 0 30px 0;}
#prenextlist tbody .datalist {padding:7px;} 
#prenextlist span.sbj {text-align:left;padding:5px 0 3px 10px;letter-spacing:0px;}
#prenextlist span.sbj .imgpos {margin-bottom:-1px;}
#prenextlist span.sbj a {font-size:12px;font-family:gothic,gulim;color:#222222;text-decoration:none;line-height:150%;}
#prenextlist span.sbj a:hover {text-decoration:underline;}
#prenextlist span.sbj .new {color:#ff0000;}
#prenextlist span.sbj .comment {font:normal 11px arial;color:#FC6138;}
#prenextlist table {border-collapse:collapse;}
#prenextlist table td,
#prenextlist table th {line-height:30px; height:30px; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
/* @list */

/* view */
#bbsview {margin:auto;padding:0 0 30px 0;}
#bbsview .viewbox {}
#bbsview .viewbox .icon {position:absolute;width:50px;height:50px;margin:10px 0 0 0;background:url('../../../../../_var/simbol/0.gif') center center no-repeat;}
#bbsview .viewbox .subject {height:26px; line-height:26px; padding-left:10px; background:url('../../images/design/tbl_th_bg.gif') repeat-x; border-top:2px solid #545454; border-bottom:1px solid #000; font-weight:normal;}
#bbsview .viewbox .subject h1 {margin:0px; padding:0px; font-size:12px;font-weight:bold;font-family:dotum;}
#bbsview .viewbox .info {padding:10px 0 10px 3px;font-size:10px;font-family:'돋움',Dotum,AppleGothic,sans-serif;color:#c0c0c0;}
#bbsview .viewbox .info .xleft {float:left;}
#bbsview .viewbox .info .xright {float:right;}
#bbsview .viewbox .info .xright ul {padding:0;margin:0;}
#bbsview .viewbox .info .xright li {list-style-type:none;float:left;}
#bbsview .viewbox .info .xright .g {padding:0 10px 0 0;}
#bbsview .viewbox .info .xright .g img {position:relative;top:3px;right:3px;}
#bbsview .viewbox .info .xright .g a {font-size:11px;font-family:dotum;color:#666;}
#bbsview .viewbox .info .xright .g a:hover {text-decoration:underline;}
#bbsview .viewbox .info .xright div {position:absolute;display:none;}
#bbsview .viewbox .info .xright div ul {position:relative;top:17px;width:79px;border:#dfdfdf solid 1px;background:#ffffff;padding:1px;}
#bbsview .viewbox .info .xright div li {float:none;display:block;padding:3px 0 3px 3px;color:#333;font-size:11px;cursor:pointer;}
#bbsview .viewbox .info .xright div li:hover {background:#ECF0F6;}
#bbsview .viewbox .info .split {padding:0 5px 0 5px;color:#dfdfdf;font-size:10px;}
#bbsview .viewbox .info .han {font-family:dotum;font-size:11px;}
#bbsview .viewbox .info .num {font-family:dotum;font-size:11px;}
#bbsview .viewbox .content {padding:20px 10px;line-height:160%;} 
#bbsview .viewbox .content .attach {padding:10px 0 0 0;line-height:120%;}
#bbsview .viewbox .content .attach ul {padding:0;margin:0;}
#bbsview .viewbox .content .attach li {list-style-type:none;padding:0 0 0 15px;}
#bbsview .viewbox .content .attach li a {font-size:11px;font-family:dotum;color:#666;}
#bbsview .viewbox .content .attach li a:hover {text-decoration:underline;}
#bbsview .viewbox .content .attach li .size {font-size:11px;font-family:'돋움',Dotum,AppleGothic,sans-serif;color:#999;}
#bbsview .viewbox .content .attach li .down {font-size:11px;font-family:'돋움',Dotum,AppleGothic,sans-serif;color:#333;}
#bbsview .viewbox .content .scorebox {text-align:center;padding:20px 0 20px 0;}
#bbsview .viewbox .content .snsbox {padding:20px 0 0 0;text-align:right;}
#bbsview .viewbox .content .snsbox img {cursor:pointer;}
#bbsview .bottom {padding:10px 0 0 0;text-align:right;}
#bbsview .comment {padding:0 0 10px 0;color:#c0c0c0;font-weight:bold;color:#3EA9CD;} 
#bbsview .comment .icon1 {position:relative;top:3px;}
/* @view */


/* write */ 
/* 기본 정보 테이블 스타일 */
table.info-table-style {border-collapse:collapse; border-top:1px solid #aaa; border-right:1px solid #dadada;}
table.info-table-style .its-th {border-left:1px solid #dadada; border-bottom:1px solid #dadada; padding:8px 0px 8px 28px; text-align:left; background-color:#f1f1f1; font-weight:normal;}
table.info-table-style .its-td {border-left:1px solid #dadada; border-bottom:1px solid #dadada; padding:5px 0 5px 15px; line-height:180%; letter-spacing:0px;}
table.info-table-style .its-th-align {border-left:1px solid #dadada; border-bottom:1px solid #dadada; padding:8px 0px 8px 0; background-color:#f1f1f1; font-weight:normal;}
table.info-table-style .its-td-align {border-left:1px solid #dadada; border-bottom:1px solid #dadada; padding:5px 0 5px 0; line-height:180%; letter-spacing:0px;}
table.info-table-style textarea {background-color:#f0f0f0;}
table.info-table-style textarea.input-box-default-text {color:#a5a5a5 !important}

/* 간단 리스트 테이블 스타일 */
#bbswrite table.simplelist-table-style {border-collapse:collapse;}
#bbswrite table.simplelist-table-style th {background:url('../images/common/th_bg_popup.gif') repeat-x; height:24px; line-height:24px; border:1px solid #c8c8c8; color:#666; font-weight:normal;}
#bbswrite table.simplelist-table-style td {padding:5px 0; border-bottom:1px solid #d7d7d7; color:#666}

/* @write */


/* view */
#boardview {margin:auto;padding:0 0 30px 0;}
#boardview {padding:20px 0 20px 0;line-height:160%;}
#boardview .attach {padding:10px 0 0 0;line-height:120%;}
#boardview .attach ul {padding:0;margin:0;}
#boardview .attach li {list-style-type:none;padding:0 0 0 15px;}
#boardview .attach li a {font-size:11px;font-family:dotum;color:#666;}
#boardview .attach li a:hover {text-decoration:underline;}
#boardview .attach li .size {font-size:11px;font-family:'돋움',Dotum,AppleGothic,sans-serif;color:#999;}
#boardview .attach li .down {font-size:11px;font-family:'돋움',Dotum,AppleGothic,sans-serif;color:#333;}
#boardview .scorebox {text-align:center;padding:20px 0 20px 0;}
#boardview .snsbox {padding:50px 0 0 0;text-align:right;}
#boardview .snsbox img {cursor:pointer;}
#boardview .bottom {padding:10px 0 0 0;text-align:right;}
#boardview .comment {padding:0 0 10px 0;color:#c0c0c0;}
#boardview .comment a {font-weight:bold;color:#3EA9CD;}
#boardview .comment .icon1 {position:relative;top:3px;}
#boardview .han {font-weight:bold;}
/* @view */

#ui-datepicker-div { z-index: 9999999; }


/* write */
.wrbox {padding:25px 0 0 0;}
.mdbox {padding:0;}
#cwrite {}
#cwrite .box {padding:10px;border:#dfdfdf solid 0px;background:#FCFCFC;}
#cwrite .box .inputbox {padding:8px 0 0 0;}
#cwrite .box .inputbox div {padding:5px 0 0 0;}
#cwrite .box .inputbox div span {position:relative;top:3px;font-size:11px;font-family:dotum;color:#c0c0c0;padding:0 10px 0 0;}
#cwrite .box .inputbox .input1 {border:#dfdfdf solid 1px;padding:2px 0 0 5px;height:18px;width:150px;}
#cwrite .box .inputbox .input2 {border:#dfdfdf solid 1px;padding:2px 0 0 5px;height:18px;width:355px;}w
#cwrite .box .bottom {}
#cwrite .box .bottom .l {float:left;font-size:12px;font-family:dotum;color:#999;letter-spacing:-1px;} 


#cmtlistlay {}
#cmtlistlay .box {padding:5px;border:#dfdfdf solid 0px;background:#FCFCFC;}
#cmtlistlay .box .inputbox {padding:8px 0 0 0;}
#cmtlistlay .box .inputbox div {padding:5px 0 0 0;}
#cmtlistlay .box .inputbox div span {position:relative;top:3px;font-size:11px;font-family:dotum;color:#c0c0c0;padding:0 10px 0 0;}
#cmtlistlay .box .inputbox .input1 {border:#dfdfdf solid 1px;padding:2px 0 0 5px;height:18px;width:150px;}
#cmtlistlay .box .inputbox .input2 {border:#dfdfdf solid 1px;padding:2px 0 0 5px;height:18px;width:355px;}
#cmtlistlay .box .bottom {padding-bottom:10px;}
#cmtlistlay .box .bottom .l {float:left;font-size:12px;font-family:dotum;color:#999;letter-spacing:-1px;} 


.cmtlistlay {}
.cmtlistlay .box {padding:5px;border:#dfdfdf solid 1px;background:#FCFCFC;}
.cmtlistlay .box .inputbox {padding:8px 0 0 0;}
.cmtlistlay .box .inputbox div {padding:5px 0 0 0;}
.cmtlistlay .box .inputbox div span {position:relative;top:3px;font-size:11px;font-family:dotum;color:#c0c0c0;padding:0 10px 0 0;}
.cmtlistlay .box .inputbox .input1 {border:#dfdfdf solid 1px;padding:2px 0 0 5px;height:18px;width:150px;}
.cmtlistlay .box .inputbox .input2 {border:#dfdfdf solid 1px;padding:2px 0 0 5px;height:18px;width:355px;}
.cmtlistlay .box .bottom {padding-bottom:10px;}
.cmtlistlay .box .bottom .l {float:left;font-size:12px;font-family:dotum;color:#999;letter-spacing:-1px;} 
/* @write */


/* view */

.BoardPwCk {border:#dfdfdf solid 0px;width:350px;padding:0px 10px 0px 10px;margin:10px auto 10px auto;}
.BoardPwCk .msg {}
.BoardPwCk .msg h3 {margin:0;padding:0 0 9px 0;font-size:14px;font-weight:bold;font-family:"malgun gothic","dotum";border-bottom:#dfdfdf dashed 1px;}
.BoardPwCk .msg h3 img {position:relative;top:3px;}
.BoardPwCk .msg div {padding:10px 0 0 22px;color:#999;}
.BoardPwCk .ibox {padding:30px 0 10px 22px;}
.BoardPwCk .input {width:150px;}
.BoardPwCk .btnblue {width:80px;}


.goodsviewbox {padding-bottom: 15px; padding-left: 0px; padding-right: 0px; border-top: #efefef 0px solid; padding-top: 15px;}
.goodsviewbox .pic {width: 60px; float: left; vertical-align: top;}
.goodsviewbox .info {float: left; margin-left: 10px;}
.goodsviewbox .info .name {font-size:12px;font-family: dotum;padding-bottom: 5px; padding-left: 0px; padding-right: 0px; color: #3c5899; font-weight: bold; padding-top: 0px;}
.goodsviewbox .info .cont {font-size:11px;font-family: dotum; color: #333333;}


.content .reply .sbj {
padding-bottom: 20px; margin: 15px 0px 0px; padding-left: 0px; padding-right: 0px; color: #ff0000; border-top: #dfdfdf 1px solid; font-weight: bold; padding-top: 10px;
}

#cmtlist {margin:auto;padding-top:10px;}

.attach {padding:10px 0 0 0;line-height:120%;}
.attach ul {padding:0;margin:0;}
.attach li {list-style-type:none;padding:0 0 5px 15px;}
.attach li a {font-size:11px;font-family:dotum;color:#666;}
.attach li a:hover {text-decoration:underline;}
.attach li .size {font-size:11px;font-family:'돋움',Dotum,AppleGothic,sans-serif;color:#999;}
.attach li .down {font-size:11px;font-family:'돋움',Dotum,AppleGothic,sans-serif;color:#333;}
