@charset "utf-8";


/* basic reset ------------------------------------------------------- */
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, abbr, img, 
small, strong, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, thead, tr, th, td, article, 
aside, embed, figure, figcaption, footer, header, hgroup, 
section, input, select, textarea, blockquote{
	margin: 0; 
	padding: 0;
}
*{margin:0; padding:0;}
*{-webkit-text-size-adjust:none}
legend{display: none}
img, fieldset{border:none;}
input, img{vertical-align:middle;}

/* input element ------------------------------------------------------- */
button, input, select, textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: middle; /* 3 */
    *vertical-align: middle /* 3 */
}

/* a tag ------------------------------------------------------- */
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}
a{outline:none; color:#7f7f7f;}
a:hover{color:#195a9e; text-decoration: underline;}


/* hidden 적용 ------------------------------------------------------- */
.hideClass{display:none;}

/* html5 태그 블럭인식 ------------------------------------------------------- */
section, article, aside, canvas, details, figcaption, figure, /*footer,*/ header, hgroup, menu, nav, summary, caption, ul, li{
display:block;
}
/* text hidden ------------------------------------------------------- */
.hidden {
	position: absolute !important;
	top: 0 !important;
	width: 0px !important;
	height: 0px !important;
	left: 0 !important;
	line-height: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
	padding: 0 !important;
	z-index: -1 !important
}
.o_hidden{overflow: hidden;}

/* table ------------------------------------------------------- */
table{border-collapse:collapse; border-spacing:0; border:0;}
caption{display:none;}
.hidden, caption { 
	position:absolute; 
	width:0; 
	height:0; 
	font-size:0; 
	line-height:0; 
	overflow:hidden; 
	visibility:hidden;
	z-index:-1; 
}
/* ul ol ------------------------------------------------------- */
ol, ul {list-style: none;}
blockquote, q {quotes: none ;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}

/* png 적용 ------------------------------------------------------- */
.png24 {tmp:expression(setPng24(this))}
/* .iePngFix { behavior: url("iepngfix.htc") }; */

/* font 적용 ------------------------------------------------------- */
html, body, a{font-family:"Helvetica Neue", Helvetica, "Lucida Grande", Arial, sans-serif, Dotum; color:#737373;} 
input{ color: #C0BEBE; }
.bold{font-weight:bold;}
.lighter{font-weight:lighter;}

/*margin 적용 ------------------------------------------------------- */
.margin_left{margin-left:5px;}
.margin_right{margin-right:5px;}
.margin_top{margin-top:10px;}

/* text align ------------------------------------------------------- */
.align_right{text-align:right;}
.align_left{text-align:left;}

/* float 정렬 ------------------------------------------------------- */
.float_right{float:right;}
.float_left{float:left;}

/* 색상 지정 -------------------------------------------------------- */
.blue{color:#3ea8e4;}
.red{color:#ee1414;}
.bg{background-color:#f5f5f5;}

/*border none 지정------------------------------------------------------*/
.border_b_n{border-bottom-style:none;}
.border_r_n{border-right-style:none;}
.border_n{border: none;}

/*underline 지정------------------------------------------------------*/
/*.underline{text-decoration:underline;}*/
.underline:hover{text-decoration:underline;}


/*select*/

.select_header{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 56px;
	height: 20px;
	line-height: 14px;
	border: 1px solid #d0d0d1;
	color: #868686;
	font-size: 11px;
	background-image: -moz-linear-gradient(bottom, #000000 0%, #000000 40%);
	background: #fff url("/Gateway/BasicProcessor/2.x/images/bg_arrow2.png") no-repeat 43px center;
}
.select_header:focus{
	border-color: rgba(213, 213, 213, 0.8);
	outline: 0;
	outline: thin dotted \9;
	z-index: 100;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(213, 213, 213, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(213, 213, 213, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(213, 213, 213, 0.6);
}

.select_comm{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 39px;
	line-height: 39px;
	border-radius: 5px;
	padding-left: 35px;
	border: 0;
	color: #C0BEBE;
	font-size: 12px;
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FFFFFF 100%);
	background: #fff url("/Gateway/BasicProcessor/2.x/images/bg_arrow.png") no-repeat right center;
	font-family: "NanumGothicBold","나눔고딕","Dotum"
}


/*input---------------------------------*/

.inp_txt_comm{
	-webkit-appearance: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: top;
	height: 39px;
	/*line-height: 39px;*/
	padding-left: 33px;
	border: 0;
	font-size: 12px;
	color: #C0BEBE;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.inp_tex_p{
	padding-left: 12px;
}
.f_inp{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.inp_box1{
	width: 358px;
}
.inp_box1_1{
	.width: 324px;
}
.inp_box2{
	width: 238px;
}
.inp_box2_1{
	.width: 205px;
}
.inp_box3{
	width: 119px;
}
.inp_box3_1{
	.width: 86px;
}
.inp_box4{
	width: 118px;
}
.inp_box4_1{
	.width: 85px;
}
.inp_box5{
	width: 87px;
}
.inp_box5_1{
	.width: 53px;
}
.inp_box6{
	width: 177px;
}
.inp_box6_1{
	.width: 142px;
}
.inp_box7{
	width: 180px;
}
.inp_box7_1{
	.width: 145px;
}
.inp_box8{
	width: 89px;
}
.inp_box8_1{
	.width: 56px;
}
input-focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(38, 153, 243, 0.8);
	border-radius: 5px;
	outline: 0;
	outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(38, 152, 243, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(38, 152, 243, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(38, 152, 243, 0.6);
}


/* font ------------------------------------------------------- */
/* 폰트 */
@font-face {
  font-family: 'NanumGothicBold';
  src: url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
  src:	local(※),
		url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2) format('x-woff2'),
		url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),
		url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  src: url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src:	local(※),
		url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('x-woff2'),
		url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
		url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothicExtraBold';
  src: url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
  src: url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2) format('x-woff2'),
       url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff'),
       url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf) format('truetype');
}
/* //font ------------------------------------------------------- */

/* btn ---------------------------------------------- */

.btn{
	display:inline-block;
	font-weight: normal;
	letter-spacing: 0.01em;
	/*-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;*/
	border: 1px solid #e4e4e4;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-image: none!important;
	color: #626262;
	background-color: #f7f7f7;
	text-shadow: none;
	box-shadow: none;
	position: relative;
	transition: color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.2s linear 0s!important;
	font-size:12px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
	background-color: #e4e4e4;
	*background-color: #e4e4e4;
	border-color: rgba(98,98,98,0.27);
	outline:0;
	text-decoration:none;
}

.btn:active,
.btn.active {
	background-color: #e4e4e4 \9;
}