@charset "UTF-8";

/*
	Document	: common.css
	Created on	: 2010/12/09 23:14:00 ~ 11. 6. 8 오후 1:41
	Author		: Nexist, BahamuT
	Description	: 공통으로 쓰는 클래스만 입력합니다.
*/
html,body{width:100%;height:100%;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
form{clear:both}
legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;padding:0;font-size:0;line-height:0}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px;color:#333;letter-spacing:0px;line-height:16px;}
body {background:#e8ecef;}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
label{cursor:pointer}
.hand{cursor:pointer}
.move{cursor:move}
.underline{text-decoration:underline}
.relative{position:relative}
.absolute{position:absolute}
.strike {text-decoration:line-through}
.tahoma {font-family:tahoma;}

input.disabled,
select.disabled,
textarea.disabled,
button.disabled,
.disabled input,
.disabled selected,
.disabled textarea,
.disabled button {background-color:#f6f6f6; color:#999}


/* 공통 : 데이트피커 */
.ui-datepicker {z-index:100;}
.ui-datepicker-trigger {vertical-align:middle;}

/* 좌,우 여백설정 */
.mr5{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr20{margin-right:20px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}

.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}

.mt-3{margin-top:-3px !important}
.mt3{margin-top:3px !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}

.pdr3{padding-right:3px !important}
.pdr5{padding-right:5px !important}
.pdr10{padding-right:10px !important}
.pdr15{padding-right:15px !important}
.pdr20{padding-right:20px !important}
.pdl10{padding-left:10px !important}
.pdl20{padding-left:20px !important}
.pdl30{padding-left:30px !important}
.pdl40{padding-left:40px !important}
.pdl5{padding-left:5px !important}
.pdt5{padding-top:5px !important}
.pdt7{padding-top:7px !important}
.pdt10{padding-top:10px !important}
.pdt15{padding-top:15px !important}
.pdt20{padding-top:20px !important}
.pdt30{padding-top:30px !important}
.pdb3{padding-bottom:3px !important}
.pdb5{padding-bottom:5px !important}
.pdb10{padding-bottom:10px !important}
.pdb20{padding-bottom:20px !important}
.pdb30{padding-bottom:30px !important}
.pd5{padding:5px !important}
.pd10{padding:10px !important}
.pd15{padding:15px !important}
.pd20{padding:20px !important}
.pd30{padding:30px !important}
.pd40{padding:40px !important}
.pd50{padding:50px !important}

.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}

.wp100{width:100%}
.wp95{width:95%}
.wp85{width:85%}

.wx300{width:300px}
.wx500{width:500px}
.wx150{width:150px}
.wx110{width:110px}
.wx200{width:200px}
.wx250{width:250px}
.wx70{width:70px}
.wx80{width:80px}
.wx80{width:80px}
.wx50{width:50px}
.wx30{width:30px}
.wx20{width:20px}

.hx50{height:50px}
.hx100{height:100px}
.hx150{height:150px}
.hx200{height:200px}
.hx250{height:250px}
.hx300{height:300px}
.hx350{height:350px}
.hx400{height:400px}
.hx450{height:450px}
.hx650{height:650px}

.fx9 {font-size:9px;}
.fx10 {font-size:10px;}
.fx11 {font-size:11px;}
.fx12 {font-size:12px;}
.fx13 {font-size:13px;}
.fx14 {font-size:14px;}
.fx15 {font-size:15px;}
.fx16 {font-size:16px;}
.fx17 {font-size:17px;}
.fx18 {font-size:18px;}
.fx19 {font-size:19px;}
.fx20 {font-size:20px;}

.dotum {font-family:dotum;}

/* 클리어부스 */
.cboth{clear:both}
.clearbox {*zoom:1;}
.clearbox:after {content:""; display:block; clear:both;}
/* //클리어부스 */

/* 각종 정렬 */
.valign-middle{vertical-align:middle !important}
.center{text-align:center !important}
.left{text-align:left !important}
.right{text-align:right !important}
.lsp-1{letter-spacing:-1px !important}
.hide{display:none}
.fl{float:left}
.fr{float:right}

/* 각종 컬러 */
.bold { font-weight: bold !important; }

.beige{color:#eceba8}
.red{color:#f00}
.blue{color:#06C}
.white{color:#fff}
.black{color:#000}
.yellow{color:#FFD700 !important}
.green{color:#0f0}
.deepGreen{color:#0c0}
.lightgreen{color:#2aff98}
.orange{color:#f90}
.silver{color:#CECECE}
.gray{color:#999}
.darkgray{color:#666}
.darkorange {color:#d13b00;}
.highlight-link {font-weight:bold; color:#d13b00; text-decoration:underline;}
.highlight-link-text {font-weight:bold; color:#d13b00; text-decoration:none;}
.highlight-text {font-weight:bold; color:#d13b00; font-size:11px; letter-spacing:-1px;}
.desc{color:#747474; font-size:11px; letter-spacing:-1px;}
.desc2{color:#747474;}

.bg-white{background:#fff !important}
.bg-gray{background:#EEE !important}
.bg-blue{background:#06C !important}
.bg-silver{background:#CECECE !important}
.bg-yellow{background:#FFD700 !important}
.bg-red{background:#DF171E !important}
.bg-lightyellow{background:#ffffc4 !important}
.bg-darkgray{background:#666 !important}
/* //각종 컬러 */

/* 목록 테이블 */
table.list_table_style {border-top:2px solid #7f8180; border-bottom:1px solid #dadada;}
table.list_table_style thead th {border-left:1px solid #dadada; background:#fff url('../images/design/tbl_th_bg.gif') repeat-x; border-bottom:1px solid #bbbbbb; padding:10px 0; font-weight:bold;}
table.list_table_style thead th:first-child {border-left:0px;} 
table.list_table_style tbody td.cell {border-top:1px solid #dadada; background:#fff; padding:7px 0; text-align:center;}
table.list_table_style tbody tr td.cell:first-child {border-left:0px;}
table.list_table_style tbody tr:first-child td.cell {border-top:0px;}

/* 기본 정보 테이블 스타일 */
table.info_table_style {border-collapse:collapse; border-top:1px solid #aaa; border-right:1px solid #dadada;}
table.info_table_style .its_section {border-left:1px solid #dadada; border-bottom:1px solid #dadada; padding:8px 5px 8px 5px; text-align:center; background-color:#f1f1f1; font-weight:normal;}
table.info_table_style .its_th {border-left:1px solid #dadada; border-bottom:1px solid #dadada; padding:8px 0px 8px 28px; text-align:left; background-color:#f1f1f1; font-weight:normal;}
table.info_table_style .its_td {border-left:1px solid #dadada; border-bottom:1px solid #dadada; padding:5px 0 5px 15px; line-height:180%; letter-spacing:0px;}
table.info_table_style .its_th_center {border-left:1px solid #dadada; border-bottom:1px solid #dadada; padding:8px 0px 8px 0; background-color:#f1f1f1; font-weight:normal;}
table.info_table_style .its_td_center {border-left:1px solid #dadada; border-bottom:1px solid #dadada; padding:5px 0 5px 0; line-height:180%; letter-spacing:0px;}
table.info_table_style textarea {background-color:#f0f0f0;}
table.info_table_style textarea.input_box_default_text {color:#a5a5a5 !important}

/* 업그래이드 안내 서비스창 */
table.sale_service {border-top:1px solid #D5D5D5; border-left:1px solid #D5D5D5; width:500px; height:150px;}
table.sale_service th {border-bottom:1px solid #D5D5D5; border-right:1px solid #D5D5D5; text-align:center; font-weight:bold; background-color:#EAEAEA; padding-left:5px; }
table.sale_service td {border-bottom:1px solid #D5D5D5; border-right:1px solid #D5D5D5; padding-left:5px;}



.order-item-cancel-type {color:red}

table.inner-table {border:0px !important;}
table.inner-table td,
table.inner-table td {border:0px !important}

.icon-goods-kind-goods {background:url("../images/common/icon_goods_kind_goods.gif") no-repeat; display:inline-block; width:30px; height:18px; text-indent:-1000px; overflow:hidden; margin-right:-2px; margin-bottom:-3px;}
.icon-goods-kind-coupon {background:url("../images/common/icon_goods_kind_coupon.gif") no-repeat; display:inline-block; width:30px; height:18px; text-indent:-1000px; overflow:hidden; margin-right:-2px; margin-bottom:-3px;}
.icon-goods-kind-coupon-order {background:url("../images/common/icon_goods_kind_coupon_order.gif") no-repeat; display:inline-block; width:30px; height:18px; text-indent:-1000px; overflow:hidden; margin-right:-2px; margin-bottom:-3px;}


.iconbuyerHighlight {background:url("../images/common/icon_buyer.gif") no-repeat; display:inline-block; width:40px; height:15px; text-indent:-1000px; overflow:hidden; margin-right:2px; margin-bottom:1px;vertical-align:middle;}
.iconsellerHighlight {background:url("../images/common/icon_seller.gif") no-repeat; display:inline-block; width:40px; height:15px; text-indent:-1000px; overflow:hidden; margin-right:2px; margin-bottom:1px;vertical-align:middle;}

/* 상세내역 레이어 팝업 스타일 */
.sale_price_layer {position:absolute;z-index:1000; border:1px solid #424242;background-color:#fff;padding:10px;}
.sale_price_layer div.title_line	{ width:100%;font-size:12px;color:#272727;font-weight:bold;text-align:left;}
.sale_price_layer table { border-top:1px solid #d8d8d8; }
.sale_price_layer table th, .sale_price_layer table td {font-size:11px;color:#666;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;}
.sale_price_layer table th { font-weight:bold;height:30px;line-height:30px;background-color:#ebebeb;text-align:center;}
.sale_price_layer table td { font-weight:normal;height:24px;line-height:24px;background-color:#fff;text-align:left;padding-left:10px;}
.sale_price_layer table td.gr {background-color:#f7f7f7;}
.sale_price_layer table td.prices {text-align:right;padding:0;padding-right:10px;}
.sale_price_layer table th.bolds, .sale_price_layer table td.bolds { color:#000;font-weight:bold; }
.sale_price_layer table th.ends, .sale_price_layer table td.ends { border:none;border-bottom:1px solid #d8d8d8; }

div.sub-choose-lay { position:relative; }
div.sub-choose-lay div {position:absolute;z-index:5000;display:none;}
div.sub-choose-lay ul li {padding-left:5px;line-height:25px;color:#ffffff;background-color:#000000;}
div.sub-choose-lay ul li.choose-title {color:#acdaff;font-weight:bold;}
div.sub-choose-lay ul li.choose-item {cursor:pointer;border-top:2px solid #d8d8d8;}
div.sub-choose-lay ul li.choose-item:hover {background-color:#d8d8d8;color:#000000;}