@charset "utf-8";

body{background:#FFF !important;}
.ui-combobox-toggle {width: 28px; height: 28px;}
.contents_container select, .search_container select, .ui-dialog-content select{padding:7px 10px !important; border:1px solid #d1d4d7 !important;}
.contents_container input[type='text'], .search_container input[type='text'], .ui-dialog-content input[type='text']{padding:7px 10px !important; border:1px solid #d1d4d7 !important;}
input[type="text"]:disabled {background-color:#eee;}
.contents_dvs{margin-top:20px;}
.dvs_left{display:inline-block; float:left; }
.dvs_right{display:inline-block; float:right;}
.pd_wx100{width:calc(100% - 10px);}
.tablednd tr > td:first-child img {pointer-events: none;}


.lh15{line-height:150% !important;}
.lh18{line-height:180% !important;}
.slc-body { font-size:13px; }

.title_dvs {position:relative; margin-top:20px; line-height:1.5;}
.title_dvs .resp_btn, .title_dvs .btn_resp {right:0; bottom:5px;}
.title_dvs .sub_message {margin-bottom:10px; display:inline-block;}
.item-title {background:none; padding-left:0; line-height:2.5; color: #0f4897; font-size: 15px; position:relative; margin-left:0;}
.item-title .sub-title{font-size:12px; color:#000; font-weight:400;}
.sub_message {margin-bottom:10px;} 
.item-sub-title {line-height:2.5;  position:relative; font-weight:600;}
.title_top {font-size: 17px; padding: 15px 0 11px 5px; border-bottom: 1px solid #000;}
.title_dvs .r_dvs{position:absolute; right:0; bottom:7px;}

.ui-dialog .ui-dialog-content .item-title:first-child, .ui-dialog .ui-dialog-content input ~ .item-title:first-of-type, .title_dvs:first-child{margin-top:0;}
.sub-layout-container {padding:0 !important; background-color:#FFF; }
.sub-layout-container .slc-body-wtr, .sub-layout-container .slc-body-wtl, .sub-layout-container .slc-body-wbl, .sub-layout-container .slc-body-wbr {background:none;}
#page-title-bar-area #page-title-bar{background:none; border-bottom:1px solid #828282;}
#page-title-bar-area #page-title-bar h2 { max-width:500px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
#page-title-bar-area #page-title-bar .resp_btn.active{background: #3a96fd !important; border:1px solid #3a96fd !important;}
#page-title-bar-area #page-title-bar .page-buttons-right {padding-right: 10px !important;}

.ver_change_btn {display: inline-block; vertical-align: middle; margin-right: 2px; cursor: pointer;}

/*레이아웃*/
.contents_container {padding:20px; height:100%;}
.contents_container::after {content:'';clear:both;display:block}
.contents_container .search_container {margin:20px 0; width:100%;}

/*input 디자인요소*/
.resp_radio input[type="radio"], .resp_checkbox input[type="checkbox"] { outline: none; vertical-align: middle; -webkit-appearance: none; border-radius: 0; border: 0; margin:0 0 3px 0; padding:0; cursor: pointer }
.resp_checkbox label , .resp_radio label{margin-left:15px; display:inline-block;}
.resp_radio label:first-child, .resp_checkbox label:first-child, label:first-child.resp_checkbox, label:first-child.resp_radio{margin-left:0;}
.resp_radio label.disabled, .resp_checkbox label.disabled, .resp_checkbox.disabled{opacity:0.4;}

.resp_checkbox, .resp_radio {position: relative; display:inline-block;} 
.resp_checkbox input[type="checkbox"] { background: url(../images/common/checkbox_off.png) no-repeat 0 0; }
.resp_checkbox input[type="checkbox"]:checked { background: url(../images/common/checkbox_on.png) no-repeat 0 0; }
.resp_checkbox input[type="checkbox"]:disabled { opacity:0.5; }
.resp_radio input[type="radio"] { background: url(../images/common/radio_off.png) no-repeat 0 0; }
.resp_radio input[type="radio"]:checked { background: url(../images/common/radio_on.png) no-repeat 0 0; }
.resp_radio input[type="radio"]:disabled { opacity:0.4;}
.resp_checkbox input[type="checkbox"]:disabled { opacity:0.4; }
.resp_radio.col label{margin-left:0;}

.resp_radio.col > label{margin-left:0;}

.resp_limit_text {border: 1px solid #a7a8aa; display:inline-block; vertical-align: middle;}
.resp_limit_text input[type='text']{border:0 !important; vertical-align: top;}
.resp_limit_text .fncut_info {min-width:65px; line-height: 2.4; text-align:center; display: inline-block; border-left: 1px solid #a7a8aa; padding: 1px 7px; box-sizing: border-box; vertical-align: top;}
.resp_limit_text .current_cnt {font-weight:600; color:#4472c4;}

.resp_textarea {border:1px solid #d1d4d7 !important;}
.byte_info {color:#5a84a1;}

.resp_toggle{position:relative; height:30px; }
.resp_toggle input[type='radio'] {display:none; }
.resp_toggle > label {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none; -ms-user-select: none; user-select: none; border-radius:2px; position:absolute; cursor: pointer; top:0; left:0; display:inline-block; width:auto; line-height: 28px; font-weight:400; padding:0 7px; background:#FFF; color:#525f78; border:1px solid #525f78 ;}
.resp_toggle > label:last-child, .resp_toggle .on{border:1px solid #525f78; color:#FFF; background:#525f78;}

/* 영역 구분 점선 */
.top_dashed {border-top:1px dashed #ddd;}

/*달력*/
.contents_container .datepicker, .search_container .datepicker{border:1px solid #a7a8aa; width:110px; }
.search-form-container .datepicker{height:20px;}
.ui-datepicker-trigger {padding:6px; border:1px solid #a7a8aa; margin-left:-2px; background:#FFF;}


/*보안 ip 리스트*/
#ip_list {margin-top:5px;  border:0; height:120px; padding:5px; overflow:auto;}
#ip_list .ip_item_ip {line-height: 1.4; float:left; margin:2px 0;}
#ip_list .ip_item_del {margin-left: 10px; float: right}

input[type="radio"], input[type="checkbox"] {width:17px; height:17px;}
.table_basic input[type=text], .table_basic input[type=password], .table_basic textarea, .table_basic select, .contents_container input[type=text], .contents_container select {padding: 7px 7px !important;}
.page-manual-btn {margin-left:7px !important; top:14px !important; padding:0 !important; height: 23px !important; }
.page-manual-btn a {margin-top:0 !important; border:0 !important; background-color:#FFF !important; border-radius:0 !important; width:auto !important; box-shadow:none !important; padding:0 5px 0 20px !important; color:#000 !important; height:18px !important; line-height:22px !important; background:url(/admin/skin/default/images/common/ico_manual.png) 5px 4px no-repeat !important;}

/* 기본 table */
.table_basic {width:100%; line-height:2.4; border-collapse:collapse; border-top:1px solid #0f4897;border-bottom:1px solid #ccc; border-right:1px solid #ccc; color:#000;}
.table_basic > tbody > tr, .table_basic > thead > tr, .table_basic > tfoot > tr{border-top:1px solid #ccc;}
.table_basic > tbody > tr > th, .table_basic > thead > tr > th, .table_basic > tfoot > tr > th, .table_basic > tr > th {word-break: break-all; letter-spacing: -0.5px; border-left:1px solid #ccc; text-align:center; padding:10px 10px; font-size:12px; background-color:#f9fafc; font-weight:normal; line-height:1.5}
.table_basic > tbody > tr > td, .table_basic > thead > tr > td, .table_basic > tfoot > tr > td {word-break: break-all; border-left:1px solid #ccc; padding:5px 10px;}
.table_basic > tbody:first-child > tr:first-child {border-top:0;}
.table_basic colgroup + tbody > tr:first-child {border-top:0;}
.table_basic.fix, .table_row_basic.fix {table-layout: fixed;}
.table_basic > thead > tr:first-child > th { border-top:1px solid #0f4897;}
.table_basic .table_basic > thead > tr:first-child > th {border-top:1px solid #ccc;}

.bdrt0{border-top:0 !important;}
.bdrb0{border-bottom:0 !important;}

.table_basic > thead > tr:first-child {border-top:0;}
.table_basic > tbody > tr > .clear {padding:0 !important;}
.table_basic .table_basic, .table_basic.v5, .tooltip_content .table_basic{border-top:1px solid #ccc;}
.table_basic.wauto {width:auto;}
.table_basic.wx400 {width:400px;}
.table_basic.wx600 {width:600px;}
.table_basic.wx700 {width:700px;}
.table_basic.wx900 {width:900px;}
.table_basic.th100 th {width:100px;}
.table_basic.wauto > tbody > tr > th, .table_basic.wauto > thead > tr > th, .table_basic.wauto > tfoot > tr > th, .table_basic > tr > th {width:auto;}

/*th 왼쪽 정렬 */
.table_basic.thl > tbody > tr > th {text-align:left; padding: 10px 15px 10px 15px; width:160px; }
.table_basic.bdr0 > tbody > tr > td, .table_basic.bdr0 > thead > tr > td, .table_basic.bdr0 {border:0;}
.table_basic.wauto > tbody > tr > th, .table_basic.bdr0 > thead > tr > th {width:auto;}
.table_basic.th120 > tbody > tr > th {width:120px;}

/*테이블 그룹*/
.table_group {margin-top:20px;}
.table_group table { border-top:0;}
.table_group .item-title + .table_basic {border-top:1px solid #0f4897;}

/*td 중앙 정렬 */
.table_basic.tdc > tbody > tr > td {text-align:center; padding:5px 15px 5px 15px;}
.table_basic.tdr > tbody > tr > td {text-align:right; padding:5px 5px 5px 15px;}

/*테이블 안에 테이블 형태*/
.table_basic.v3 {border-collapse:collapse; border-top:0; border-bottom:0; border-right:0; margin-left:-1px;}
.table_basic.v3.top_bdr{border-top:1px solid #c8c8c8;}

/*th col 왼쪽 정렬 row 중앙 정렬 */
.table_basic.v4 > tbody > tr > th{text-align:left;}
.table_basic.v4 tbody:first-child tr:first-child > th {text-align:center;}

.table_basic.v5 {border:1px solid #ccc;} 
.table_basic.v5 > tbody > tr > th {border-left:0;}

.table_basic.v6 {border:1px solid #ccc;} 

.table_row_frame .table_basic{border-right:0 !important;}
.table_row_frame .table_basic, .table_row_frame .table_basic th{border-top:0 !important;}
.table_basic .totalTr > td, .table_basic .totalTr > th{font-weight:600; border-bottom:1px solid #666 !important;}
.table_basic .totalBr > td, .table_basic .totalBr > th {font-weight:600; border-top:1px solid #666 !important;}

/*상품 선택*/
.goods_list .image, .gift_list .image, .except_goods_list .image { float:left; width:60px; vertical-align:top;}
.goods_list .goodsname,.gift_list .goodsname, .except_goods_list .goodsname {float:left; line-height:25px; width: calc(100% - 60px); overflow: hidden;}
.goods_list .goodsname,.except_goods_list .goodsname { width:400px; }
.goods_list_header .table_basic,.gift_list_header .table_basic,.provider_list_header .table_basic{border-bottom:0;}

.goods_list, .except_goods_list, .provider_list { max-height:184px; overflow-y:scroll; -webkit-overflow-scrolling:touch; background:#ffffff;}
.goods_list.long {max-height:300px}
.goods_list_header,.provider_list_header {overflow-x:hidden; overflow-y:scroll; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}
.goods_list_header table tr td,.provider_list_header table tr td { background-color:#f9fafc; text-align:center;}
.goods_list tr[rownum="0"], .provider_list tr[rownum="0"]{height:183px;}

.goods_list table td, .t_select_goods .except_goods_list table td, .provider_list table td { text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.goods_list table td div.image { float:left; width:60px;  }
.goods_list table td div.goodsname {float:left;width:160px; padding-top:5px; word-break:break-all; line-height:18px; text-overflow:ellipsis;white-space:normal; }
.goods_list .table_basic {table-layout: fixed;}

.goodsname.w270 { width:270px !important; }
.goodsname.w200 { width:200px !important; }
.goodsname.w190 { width:190px !important; }
.goodsname.w150 { width:150px !important; }

/*무통장 테이블*/
.table_01 {border-collapse:collapse; width:100%;}
.table_01 > thead > tr > th {background: #f1f1f1; height:27px; line-height: 27px; border:1px solid #c8c8c8; color: #666;}
.table_01 > tbody > tr > td {padding:5px 15px; border-bottom:1px solid #d7d7d7; text-align:center;}

/*회원 > 등급 자세히보기 테이블*/
.table_02 {border-collapse:collapse; border:0px; width:100%; background:#d9d9d9;}
.table_02 > tbody > tr > td {text-align:center; padding:10px; border-left:1px solid #c8c8c8; line-height:15px;}
.table_02 > tbody > tr > td:first-child{border-left:0;}
.table_02 > tbody > tr:first-child{border-top:1px solid #c8c8c8;}

/*가로형 테이블*/
.list_info_container { height:30px; line-height:30px; padding-bottom:5px; }
.table_row_frame {background:#FFF; border-top:1px solid #828282; border-right:1px solid #d7d6db; }
.table_row_frame .dvs_top, .table_row_frame .dvs_bottom {height:30px; padding:5px; border-left:1px solid #d7d6db; line-height:30px;}
.dvs_top, .dvs_bottom {height:30px; padding:5px 0; line-height:30px;}
.table_row_frame .dvs_top{border-bottom:1px solid #cccccc;}
.table_row_frame .dvs_bottom{border-bottom:1px solid #cccccc;}
.table_row_basic {width:100%;  border-collapse:collapse; line-height:1.5; border-bottom:1px solid #d7d6db; border-right:1px solid #d7d6db; color:#000; border-top:1px solid #828282;}
.table_row_basic > tbody > tr {border-top:1px solid #d7d6db;}
.table_row_basic > thead > tr > th {word-break: break-all; line-height: 1.3; border-left:1px solid #d7d6db; border-bottom:1px solid #d7d6db; text-align:center; padding:12px 15px; font-size:13px; background-color:#f1f4fb; font-weight:400;}
.table_row_basic th.bdr_top{border-top:1px solid #d7d6db !important;}
.table_row_basic > tbody > tr > td, .table_row_basic > thead > tr > td{word-break: break-all;; border-left:1px solid #d7d6db; padding:8px 15px; text-align:center; line-height:1.5; background:#FFF;}
.table_row_basic.list > tbody > tr > td, .table_row_basic.list > thead > tr > td{ padding:4px 4px;}

.table_row_basic > tfoot > tr > td{word-break: break-all; border-left:1px solid #d7d6db; border-top:1px solid #d7d6db; padding:8px 15px; text-align:center; line-height:1.5; background:#FFFFE8;}
.table_row_basic.wauto{width:auto;}
.table_row_basic .tfoot > td{background-color:#FFFFE8; height:30px;}
.table_row_basic .tfoot.v2 > td{background-color:#DBEEF4; height:30px;}

.table_row_frame .table_row_basic{border-top:0; border-right:0; border-left:0;}
.grid-wrap-lay-one.table_row_frame {border-right:0;}
.grid-wrap-lay-one.table_row_frame .dvs_top{border-right:1px solid #cccccc;}

.grid-cell { box-sizing:content-box;display: block; }
.grid-cell th, .grid-cell td { box-sizing:content-box; overflow:hidden; height:40px;}

tr.tr_save_all th { padding:8px 0px 8px 0px !important;}
.table_row_basic th input[type='text'], .table_basic th input[type='text'] {padding: 4px 4px !important;}

.title_dvs {position:relative; margin-top:20px; line-height:1.5; min-height: 37px;}
.title_dvs > .resp_btn, .title_dvs > .btn_resp, .title_dvs > .resp_btn_dvs{position:absolute; right:0; bottom:7px;}
.ul_list_01 .title_dvs > .resp_btn, .ul_list_01 .title_dvs > .btn_resp, .ul_list_01 .title_dvs > .resp_btn_dvs{position:absolute;bottom:3px;}
.title_dvs .sub_message {margin-bottom:10px; display:inline-block;}
.title_dvs.v2{border-bottom:1px solid #0f4897;}
.bottom_btn_dvs {margin-top:7px;}

/*검색*/
.search_container{margin:30px 20px 10px 20px; width:calc(100% - 40px); }
.table_search{border:1px solid #ccc; width:100%; border-collapse:collapse; line-height:2.5; border-top:1px solid #828282; table-layout:fixed;}
.table_search > tbody > tr > th {width:150px; text-align:left; padding:7px 10px; background:#f1f4fb;border-bottom:1px solid #ccc; border-right:1px solid #ccc; border-left:1px solid #ccc; font-weight:400;}
.table_search > tbody > tr > td {padding:7px 10px; border-bottom:1px solid #ccc;}
.search_container .footer {margin-top:15px !important; text-align:center;}
.search_container select{padding:7px 5px !important; border:1px solid #dcdcde !important;}
.search_container input[type='text']{padding:7px 10px !important; border:1px solid #dcdcde !important;}
.search_container .ui-datepicker-trigger {border:1px solid #dcdcde;}
.search_container select[name='provider_seq_selector'] {width:150px;}
.ui-dialog .search_container {width: 100%; margin:20px 0;}
.search_container .date_range_form {display:inline-block !important;}
.ui-dialog-content .search_container{margin:0 0 20px 0; width:100%;}
.search_container.v2{margin:0 0 20px 0; width:100%;}

.search_btn_lay {text-align:center; margin-top:15px; position:relative;} 
.search_btn_lay .sc_edit {position:absolute; left:0;}
.search_btn_lay .detail, .search_btn_lay .default {position:absolute; right:0; top:0;}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/*버튼*/
.btn_resp {border:1px #1e7abd solid; background:#fff; display:inline-block; height:30px; font-size:13px; line-height:30px; font-weight:400; padding:0 9px; box-sizing:border-box; text-align:center; color:#1e7abd; cursor:pointer; vertical-align:middle; }
a.btn_resp, span.btn_resp{display:inline-block; color:#1e7abd;}
a.btn_resp:hover, a.btn_resp:link, a.btn_resp:active, a.btn_resp:visited {color:#1e7abd;}
.btn_resp input[type="file"] {position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0, 0, 0, 0); border:0;}

.btn_resp.b_gray {background:#595959; color:#FFF !important; border:1px solid #404040;}
.btn_resp.b_gray2 {background:#cfcfcf; color:#000 !important; border:1px solid #acacac;}
.btn_resp.b_gray3 {background:#7f7f7f; color:#fff !important; border:1px solid #7f7f7f;}
.btn_resp.b_gray4 {background:#e6e6e6; color:#3c3c3c !important; border:1px solid #d5d5d5;}
.btn_resp.g_gray {background:linear-gradient( to bottom, #f5f8fb, #dadada ); color:#000; border:1px solid #bfbfbf;}
.btn_resp.b_blue {background:#078bec; color:#FFF !important; border:1px solid #047ae1;}

.btn_resp.size_a {padding:0 12px; font-size:13px; height:33px; line-height:32px;}


/*전자결제 버튼*/
#page-title-bar-area #page-title-bar .page-buttons-right, #page-title-bar-area #page-title-bar .page-buttons-left {padding-top:7px;line-height:1}
#page-title-bar-area #page-title-bar .page-buttons-right, #page-title-bar-area #page-title-bar .page-buttons-left li {vertical-align:top}
.btn_resp.b_blue_r{background:#078bec; color:#FFF; border:1px solid #047ae1; font-weight:600; padding:0 12px; font-size:13px; height:33px; line-height:32px;}
.btn_resp.b_white{border:1px solid #b5b5b5; font-weight:600; padding:0 12px; font-size:13px; height:30px; line-height:30px; color:#666 !important;}
a.btn_resp.b_white:hover {border:1px solid #666; color:#000 !important;}

.btn_resp.v2{font-size:12px; font-weight:600; height:32px; line-height:32px; padding:0 25px;}

.btn_minus{display:inline-block;  width:auto; font-size: 0 !important; height:auto; vertical-align: middle; padding:8px; border-radius: 50%; border:0; background: url(../images/common/icon_minus.png) center no-repeat; background-color:#919191;cursor: pointer;}
.btn_minus.mini{width:0px; height:0px;}
.btn_minus.gray{background-color:#c7c7c7;}
.btn_plus{display:inline-block;  width:auto; font-size: 0 !important; height:auto; vertical-align: middle; padding:8px; border-radius: 50%; border:0; background: url(../images/common/icon_plus.png) center no-repeat; background-color:#919191; cursor: pointer;}
.btn_plus.gray{background-color:#c7c7c7;}
.btn_equal{display:inline-block; width:auto; font-size: 0 !important; height:auto; vertical-align: middle; padding:8px; border-radius: 50%; border:0; background: url(../images/common/icon_equal.png) center no-repeat; background-color:#919191; cursor: pointer;}

.page-manual-btn.btn_resp {border:1px #a7a8aa solid; display:none; }
.page-title .status-isY {margin:-8px 0 0 5px;}
.item-title .desc {font-weight:400; font-size:12px;}


/*버튼 class명 변경 start*/
.resp_btn {vertical-align: middle; border:1px #525f78 solid; background:#fff; border-radius:2px !important; letter-spacing: -1px; display:inline-block; font-size:13px; line-height:28px; outline: none; font-weight:400; padding:0 9px; box-sizing:border-box; text-align:center; color:#525f78; cursor:pointer;}
a.resp_btn, span.resp_btn{display:inline-block; color:#525f78; outline: none;}
a.resp_btn:hover, a.resp_btn:link, a.resp_btn:active, a.resp_btn:visited {color:#525f78; outline: none;}
.resp_btn.disabled {opacity:0.4;}

.resp_btn input[type="file"] {position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0, 0, 0, 0); border:0;}
.resp_btn[disabled] {opcity:0.5, cursor: default;}
.resp_btn .point {color:#f00;}
.resp_btn .txt {display: inline-block; vertical-align: middle;}
.resp_btn img, .resp_btn span{vertical-align: middle;} 
.resp_btn *:nth-child(2) {margin-left:5px;}

.resp_btn.active {background:#525f78; color:#FFF; border:1px solid #525f78;}
.resp_btn.active2 {background:#078bec; color:#FFF; border:1px solid #078bec;}
.resp_btn.active3 {background:#ed7d31; color:#FFF; border:1px solid #ed7d31;}

.resp_btn.v2 {background:#a8aebc; color:#FFF; border:1px solid #a8aebc;}
.resp_btn.v3 {color:#666666; border:1px solid #dcdcde;}
.resp_btn.v4 {display:inline-block; border:1px solid #dcdcde; margin-left:-5px; color:#000; border-radius:0 !important; outline:none;}

a.resp_btn.v2:hover, a.resp_btn.v2:link, a.resp_btn.v2:active, a.resp_btn.v2:visited {color:#FFF; outline: none;}

a.active.resp_btn:hover, a.active.resp_btn:link, a.active.resp_btn:active, a.active.resp_btn:visited {color:#FFF !important; outline: none;}

/*검색 날짜 버튼*/
.resp_btn_warp, .resp_btn_wrap {margin-left:15px; display:inline-block;}
.resp_btn_warp .resp_btn, .resp_btn_wrap .resp_btn{display:inline-block; border:1px solid #dcdcde; margin-left:-5px; color:#000; border-radius:0 !important; outline:none; position: relative;}

.resp_btn.size_L {padding:0 12px; font-weight:400; font-size:13px; height:33px; line-height:32px; min-width:60px;}
.resp_btn.size_XL {padding:0 20px; font-weight:400; font-size:13px; height:35px; line-height:34px; min-width:85px;}
.resp_btn.size_S {padding:0 7px; height:25px; line-height:26px; font-size:11px;}

/*기간 설정 버튼 활성*/
.resp_btn.select_date.on{color:#3a96fc !important; border:1px solid #3a96fc !important; z-index: 100; }
.btn.small.on + .btn .select_date{border-left:1px solid #3a96fc !important;}

/*버튼 class명 end*/
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float:none; text-align:center;}
.resp_btn .ui-button-text{padding:0;}

/*텍스트 링크*/
.link_blue_01, .resp_btn_txt{color:#4472c4 !important; text-decoration:underline !important; cursor: pointer;}
.resp_btn_txt.v2{color:#000 !important; text-decoration:underline !important; cursor: pointer;}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/* 타이틀이 볼드인 dl */
.dl_list_01 {width:100%; display:inline-block;}
.dl_list_01 > dt {float:left;}
.dl_list_01 > dd {display:table-cell}
.dl_list_01.w60 > dt {width:60px;}
.dl_list_01.w70 > dt {width:70px;}
.dl_list_01.w120> dt {width:120px;}
.dl_list_01.w100> dt {width:100px;}
.dl_list_01.v2 > dt {font-weight:600;}

.dl_list_01.v3 {width:100%; vertical-align: top;}
.dl_list_01.v3 dt {width:30%;}
.dl_list_01.v3 dd {font-weight:600; text-align:right; width:70%; display:inline-block;}

/*ul 기본형 */
.ul_list_01 {width:100%; display:table;}
.ul_list_01 > li {padding-right:15px; display:table-cell; vertical-align:top;  line-height:1.8;}
.ul_list_01.pd0 > li {padding-right:0;}
.ul_list_01.v2 > li{padding-right:0;}


/*테이블td안  가로라인 구분*/
.ul_list_02 {width:100%; display:inline-block; vertical-align:top;}
.ul_list_02 > li {padding:5px 15px 5px 15px; border-top:1px solid #dadada;}
.ul_list_02 > li:first-child{border-top:0}
.ul_list_02 .clear {padding:0;}

/*오른쪽 검정바 구분형*/
.ul_list_03 {display:inline-block; vertical-align:middle;}
.ul_list_03 > li {display:inline-block; border-left:1px solid #000; height:15px; padding:0px 15px; float:left; line-height:15px;}
.ul_list_03 > li:first-child {border-left:0;}

/*테이블td안 세로라인 구분*/
.ul_list_04  {width:100%; display:inline-block; vertical-align:top;}
.ul_list_04 > li {float:left; width:calc(33.3% - 31px); padding:5px 15px 5px 15px; border-left:1px solid #dadada;}
.ul_list_04 > li:first-child{border-left:0}

/*li 위 아래 여백*/
.ul_list_05  {width:100%; display:inline-block; vertical-align:top;}
.ul_list_05 > li {padding:2px 0;}
.ul_list_05.v2 > li {padding:5px 0;}

/* li형 테이블 */
.ul_list_06 {width:100%; display:inline-block; vertical-align:top; border:1px solid #dadada;}
.ul_list_06 > li {border-top:1px solid #dadada;}
.ul_list_06 > li:first-child {border-top:0;}

/*ul 기본형 */
.ul_list_07 {width:100%; display:table;  height:100%;}
.ul_list_07 > li {padding:5px 15px 5px 15px; display:table-cell;  border-left:1px solid #dadada; vertical-align:middle;}
.ul_list_07 > li:first-child {border-left:0;}

.ul_list_08 { display:inline-block; vertical-align: middle;}
.ul_list_08 > li {padding-right:15px; display:inline-block; line-height:1.8; }

.ul_list_09 { display:table; }
.ul_list_09 > li {display:table-cell;vertical-align:bottom; }

/*--------------------------------------------------------------------------------------------------------------------------------*/

/*복합형 리스트*/
.list_01 > li {margin-top:15px;}
.list_01:first-child > li:first-child{margin-top:0px;}
.list_01 .title {font-weight:600;}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/*tab*/
.tab_01 {display:inline-block; border-left:1px solid #d6d6d6; margin-bottom:5px; line-height:2.4; }
.tab_01 > li {float: left;}
.tab_01 > li > a {display:inline-block; cursor: pointer; border-top:1px solid #d6d6d6; border-right:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6; width:130px; text-align:center; background-color: #f9fafc; color: #000;}
.tab_01.w160 > li > a {width:160px;}
.tab_01 .current {background:#FFF; border:1px solid #0f4897; border-bottom:1px solid #FFF; margin-bottom:-1px; margin-left:-1px; color:#0f4897; font-weight:600;}


/* 100% 라인이 있는 스타일 */
.tab_01.v2 {border-bottom:1px solid #0f4897; width:100%;}
.tab_01.v2 > li > a{width:auto; padding:3px 30px; border-bottom:0; margin-left:0px; cursor: pointer;}
.tab_01.v2 .current {border:1px solid #0f4897; border-bottom:1px solid #fff; margin-bottom:-1px; margin-left:-1px; color:#0f4897; font-weight:600;}

.tab_01.v2.y2 > li > a{padding:0 20px;}
.tab_01.w120 > li > a {width:120px; padding:3px 0; cursor: pointer;}

.tab_01.v2.y3 {width:auto; border-bottom:1px solid #d6d6d6;}
.tab_01.v3 {border-bottom:1px solid #ccc; width:100%; border-left:0;}
.tab_01.v3 > li > a{border:0; background:#FFF; font-size:13px; padding:3px; }
.tab_01.v3 .current {border-bottom:1px solid #0f4897 !important; font-weight:400; }
.tab_01.v3 > li > a{border:0; background:#FFF; font-size:13px; padding:3px 20px; width: auto;}
/*--------------------------------------------------------------------------------------------------------------------------------*/

/*accordion*/
.accordion{width:100%; display:inline-block; border:1px solid #dadada;}
.accordion > li > a {border-top:1px solid #dadada; display:block; padding:8px 15px; background:#f1f1f1; color:#000;}
.accordion > li > a:hover{color:unset;}
.accordion > li:first-child > a {border-top:0;}
.accordion .content {padding:20px; background:#FFF; border-top:1px solid #dadada;}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/*입력박스*/

.file_01 {background:#FFF; border:1px #dadada solid; color:#999}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/*display*/

/*회색 박스 스타일*/
.box_style {padding:10px; background:#efefef; line-height:16px; border:1px solid #efefef;}
.box_style .title{margin-top:10px; font-weight:600; padding:3px 0;}
.box_style .title:first-child{margin-top:0;}

/*라인이 있는 박스 스타일*/
.box_style_02 {padding:10px; border:1px #dddddd solid; line-height:180%; background:#FFF;}

/*라인이 있는 회색 박스 스타일*/
.box_style_03 {padding:10px; background:#efefef; border:1px #dddddd solid; line-height:180%;}
.box_style_03 > textarea, .box_style_02 > textarea {width:100%; border:0; background-color:transparent; border:0px; color:#777}

/*라인이 있는 회색 스크롤 스타일*/
.box_style_04 {overflow:auto; height:60px; width:98%; border:1px solid #cccccc; padding: 10px 5px; background:#f7f7f7}

.box_style_05 {padding:15px; border:1px #ccc solid; background:#f9fafc; color:#000; line-height:1.8;}
.box_style_05 .title{background: url(../images/design/k_icon04.png) no-repeat; line-height: 1.1; font-weight:600; margin:5px 0; padding-left: 20px; color:#000;}
.box_style_05 .bullet_hyphen > li, .box_style_05 .bullet_circle > li {color:#000;}

.box_style_06{background: url(../images/design/k_icon04.png) no-repeat 15px center; padding:15px 20px 15px 40px; border:1px #ccc solid; line-height:1.8; border-radius:5px;}

/*라인이 있는 하얀색 박스 스타일*/
.box_style_07 {padding:10px; background:#FFFFFF; border:1px #dddddd solid; line-height:180%;}
.box_style_07 > textarea, .box_style_02 > textarea {width:100%; border:0; background-color:transparent; border:0px; color:#000000}

/*라인이 없는 하얀색 박스 스타일*/
.box_style08 {padding:10px; background:#FFFFFF; line-height:16px; border:0px; color:#000000;}
/*--------------------------------------------------------------------------------------------------------------------------------*/

/*안내 메시지*/
.resp_message {color:#999; margin-top:10px;}
.resp_message.v2 {margin-top:5px; line-height:1.8;}

/* ul 블렛 */
.con_wrap {line-height:180%;}
.bullet_hyphen {overflow:hidden;}
.bullet_hyphen > li {background:url('/admin/skin/default/images/common/hyphen_bullet.png') 1px 10px no-repeat;  padding-left:15px; line-height:180%; color:#999;}
.bullet_hyphen.black > li {color:#000;}

.bullet_num {list-style:decimal; padding-left:20px; line-height:180%;}
.bullet_num_in{list-style:decimal inside;}
.bullet_num_in.v2 {font-weight:600;}
.bullet_num.gray {color:#999;}

.bullet_circle {list-style:disc; padding-left:15px; line-height:180%;}
.bullet_circle_in {list-style: disc inside;}

.bullet_etc {}
.bullet_etc > li:before{content:"※ "; margin-left: -15px;}
/*--------------------------------------------------------------------------------------------------------------------------------*/

/*분할*/
.section_dvs {display:table; width:calc(100% + 20px); margin-left:-20px;}
.section_dvs.cols > li{display:table-cell; padding-left:20px; vertical-align: top; }
.section_dvs.cols.ea2 > li{width:50%; text-align:center; }
.section_dvs.cols.ea2 > li .contents{border:2px solid #e8e8e8; padding:30px; border-radius:5px;}
.section_dvs.cols.ea2 > li .contents img {border:1px solid #c3c3c3; vertical-align: bottom;}
.section_dvs.cols.ea2 > li.on .contents {border:2px solid #4295ff; }
.section_dvs.cols.ea2 > li .title{margin-top:10px; font-weight:600; font-size:14px; color:#a1a1a1; display:inline-block; cursor: pointer;}
/*background:url('/admin/skin/default/images/common/icon_check.jpg') 0 center no-repeat;*/
.section_dvs.cols.ea2 > li.on .title{color:#4295ff;}

.section_dvs_lattice {display:inline-block; width:100%;}
.section_dvs_lattice > li{display:inline-block; vertical-align: top; cursor: pointer; float:left;}
.section_dvs_lattice.ea4 > li {width:25%;}
.section_dvs_lattice.ea5 > li {width:20%;} 
.section_dvs_lattice > li .contents {text-align:center; padding:10px;}

/*격자형 리스트 버튼*/
.section_dvs_lattice.v2 > li > a{border:1px solid #ddd; display:block; text-align:center; margin-left:-1px; margin-top:-1px; padding:5px 0;}
.section_dvs_lattice.v2{width:calc(100% - 1px); margin-left:1px; }


/*--------------------------------------------------------------------------------------------------------------------------------*/

/*테스트 링크 컬러 세팅*/
.required_chk {background: #ff0000; width:4px; height:4px; margin: 0 0px 7px 3px; display:inline-block; border-radius:50px;}
.dragRow {background-color: #f5f6f8 !important;}

/*다이얼로그*/
.popup_wrap .btn_wrap{text-align:center; margin-top:20px;}
.popup_wrap .btn_wrap{text-align:center; margin-top:20px;}

.ui-dialog-titlebar.ui-widget-header {z-index:1;}

.ui-dialog-content .header{text-align:right; margin-bottom:5px;}
.ui-dialog-content .footer, .contents_container .footer{margin-top:20px; text-align:center; }
.ui-dialog-content {line-height:1.8;}
.ui-dialog .content, .contents_container .content {height:calc(100% - 65px); overflow:auto; padding-bottom:1px;}
.ui-dialog .content_wrap {width:90%; margin:0 auto;}

.ui-dialog .content + .footer, .contents_container .content + .footer {background:#FFF; height:45px; border-top:1px solid #e0e0e0; position: absolute; width: 100%; left: 0; padding-top: 15px; box-shadow: 0px -5px 8px #eee; bottom: 0;}
.ui-dialog .ui-dialog-buttonpane {box-shadow: 0px -5px 8px #eee;}
.ui-widget-content {background:#FFF; }
.ui-widget-content .ui-state-default {background:none;}

.contents_wrap .content {height:calc(100% - 65px); overflow:auto;}
.contents_wrap .footer{margin-top:20px; text-align:center; }

.ui-widget-overlay {position: fixed !important; width: 100% !important; height: 100% !important;}
.ui-dialog .contents_container {margin:0;}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/************* pg **********************************************/
.pg_list {display:table; width:100%;  margin:15px 0;}
.pg_list > li{display:table-cell; vertical-align:middle;}
.pg_list .logo_wrap{width:30%; text-align:center;}
.pg_list .contents{border-left:1px solid #dadada; padding:0 0 10px 15px; width:70%;}
.pg_list .btn_wrap{margin-top:10px}
.pg_list .btn_wrap > a {margin-right:5px}

.tip_wrap pre {display:inline-block; margin:0; }

/************* tooltip **********************************************/
.tip_wrap h1 {font-size:12px; color:#000; margin-bottom:5px;}
.tip_wrap h2 {font-weight:400; font-size:12px; color:#000; margin-bottom:5px;}
.tip_wrap .con_wrap{overflow:auto; margin:0 5px;}
.tip_wrap .section{margin:10px 0;}

.tooltip_btn {display:inline-block; width: 14px; height: 14px; cursor: pointer; background: url('/admin/skin/default/images/common/bg_icon.png'); vertical-align: middle; margin-bottom: 2px; margin-left: 2px;}
.tooltip_close {background:url('/admin/skin/default/images/common/tooltip_close.png'); background-size:10px 11px; vertical-align: middle; position:absolute; right:10px; display:inline-block; width:10px; height:11px; }
.tooltip_area {display:none; position:absolute; z-index:20001; box-sizing:border-box; border:1px #313131 solid; background:#fff;}
.tooltip_content {padding:10px; position:relative; left:0; top:0; font-weight:400; font-size: 12px; box-sizing: border-box;}
.tooltip_content img{max-width:100%;}

/************* 무통장 **********************************************/

.tr_color_yellow {background-color:#ffffe8}
.tr_color_white {background-color:#ffffff}


/**********************o2o****************************/


/********** 프로모션 코드 ************************************/
.promotionimage4lay .promotionimage {width:1000px;min-height:40px;border: 1px dotted #2EA4C0; display:inline-block; vertical-align: top;}
.promotionimage4lay .promotionimage > img {width:100%;}
.promotionimage4lay .guide_mess{vertical-align: bottom; display: inline-block; line-height: 1.2;}

/********** 할인 코드 ************************************/
#bgcolorDiv {display:table;}
#bgcolorDiv > li{width:50px; height:30px; display:table-cell; cursor:pointer; text-align: center; vertical-align: middle; border-right: 2px solid #FFF;}
#bgcolorDiv > li img {display:none;}
#bgcolorDiv > li.on img{display:inline-block;}


/********** 입점사 통계 ************************************/
.provider-statistic .stati_title {border:1px solid #ccc; background:#f9fafc; padding:10px 15px; position:relative;}
.provider-statistic .stati_title select{padding:7px 7px !important;}
.provider-statistic .stati_title b{font-size:14px; vertical-align: middle; margin-right:10px;}
.provider-statistic .stati_title .head-rbtn{position:absolute; right:15px; padding:10px;}


div.image-preview-wrap {padding:22px 8px 8px 8px; margin: 8px 0;  display:inline-block; height:auto; width:auto; max-width:90px; min-width:35px; text-align:center; position: relative; line-height: 35px; border: 1px solid #dadada; border-radius: 5px;}
div.image-preview-wrap .bg {background: #eee; display: table; background:#eee; min-height:30px; width: 100%;}
div.image-preview-wrap .preview-img {display: table-cell; vertical-align: middle; max-width:90px; }
div.image-preview-wrap .preview-path { vertical-align: top; }
div.image-preview-wrap .preview-path span { font-size: 11pt; font-weight: bold; }
div.image-preview-wrap .preview-img img {cursor: pointer; max-width:100%; height: auto;}
div.image-preview-wrap .preview-del { position: absolute; top: 6px; right: 5px; width: 8px; height: 8px; background:url("/admin/skin/default/images/common/btn_pop_close_s.gif") no-repeat center center; cursor: pointer; }
div.webftpFormItem .resp_btn.v2 {margin-top:0px}
div.webftpFormItem .btn_wrap {display: inline-block; vertical-align: top;}

/*****오픈마켓*******/
.ms-choice {height: 30px !important; line-height: 31px !important; border: 1px solid #dcdcde !important; }
.ms-choice > span {left: 5px !important;}
.ms-choice > div {height: 30px !important; background: url('/admin/skin/default/images/common/icon/admin_select_n.gif') no-repeat right 8px center !important;}

.ui-combobox input { padding:7px 5px !important; }

/******회원********/
.member_form_list .contents .top_con{text-align:left; padding-left:8px; margin-bottom:3px;}
.member_form_list .contents .sms_item {padding: 0 10px 0px;}
.member_form_list .contents > .sms_item.on {box-shadow: 0 0 0px 2px #7888af inset;}
.contents_container.sms_form .list_info_container {border-bottom:1px solid #333; margin-bottom:10px; padding-bottom:7px;}
#special_view {position:absolute;width:340px;z-index:100; margin-left: -140px; margin-top: 0;border:2px solid #aaaaaa;padding:3px;background-color:#eeffee;}


/********* 주문, 출고 등 상태바 *****************/
.tab_title {border-bottom:2px solid #2c407b; text-align:center; }
.tab_title > .tit { padding:10px 40px; background:#2c407b; display:inline-block; color:#FFF; font-size:13px; font-weight:600;}
.tab_title.step-15 {border-bottom:2px solid #e3a600;}
.tab_title.step-25 {border-bottom:2px solid #7cb614;}
.tab_title.step-35 {border-bottom:2px solid #27a40e;}
.tab_title.step-40 {border-bottom:2px solid #02afbd;}
.tab_title.step-45 {border-bottom:2px solid #02afbd;}
.tab_title.step-50 {border-bottom:2px solid #3061c2;}
.tab_title.step-55 {border-bottom:2px solid #3061c2;}
.tab_title.step-60 {border-bottom:2px solid #8b41b7;}
.tab_title.step-65 {border-bottom:2px solid #8b41b7;}
.tab_title.step-70 {border-bottom:2px solid #c84172;}
.tab_title.step-75 {border-bottom:2px solid #c84172;}
.tab_title.step-85 {border-bottom:2px solid #8c8c8c;}
.tab_title.step-95 {border-bottom:2px solid #8c8c8c;}
.tab_title.step-99 {border-bottom:2px solid #8c8c8c;}
.tab_title.step-0  {border-bottom:2px solid #8c8c8c;}
.tab_title.step-15 > .tit {background:#e3a600;}
.tab_title.step-25 > .tit {background:#7cb614;}
.tab_title.step-35 > .tit {background:#27a40e;}
.tab_title.step-40 > .tit {background:#02afbd;}
.tab_title.step-45 > .tit {background:#02afbd;}
.tab_title.step-50 > .tit {background:#3061c2;}
.tab_title.step-55 > .tit {background:#3061c2;}
.tab_title.step-60 > .tit {background:#8b41b7;}
.tab_title.step-65 > .tit {background:#8b41b7;}
.tab_title.step-70 > .tit {background:#c84172;}
.tab_title.step-75 > .tit {background:#c84172;}
.tab_title.step-85 > .tit {background:#8c8c8c;}
.tab_title.step-95 > .tit {background:#8c8c8c;}
.tab_title.step-99 > .tit {background:#8c8c8c;}
.tab_title.step-0 > .tit  {background:#8c8c8c;}

/* 리스트 데이터 없는 경우 */
.list-none { width: 100%; text-align: center; line-height: 38px; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3;}

.overflow-breakall, .overflow-breakall > div{ white-space:normal; word-wrap: break-word; word-break: break-all;}
.overflow-ellipsis, .overflow-ellipsis > div{text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}
.overflow-ellipsis.minw120,.overflow-ellipsis.minw120 > div, .overflow-breakall.minw120, .overflow-breakall.minw120 > div { min-width:90px;max-width:100%; }

/* 통계 */
.chart_frame { border:1px solid #ccc; min-height:300px;}
.chart_frame > div, .chart_frame > table{margin:20px 40px; width:calc(100% - 140px);}
.chart_frame .jqplot-table-legend {top:auto !important; bottom:0 !important; }
.chart_frame_02 {border:1px solid #ccc; min-height:300px;}
.chart_frame_02 > div { margin:20px 40px;} 
.chart_frame_02 {margin-bottom:30px;}
.chart_frame_02 .jqplot-table-legend {left:auto !important; right:-60px !important;}
.chart_frame_02 .jqplot-table-legend .jqplot-table-legend-label{padding-right:10px !important;}

/* 주문 */
.total_price * {box-sizing: border-box;}
.total_price {border:1px solid #ccc; width:100%; display:table;}
.total_price > li{display:table-cell; vertical-align: top;}
.total_price .def_dvs{width:22%;}
.total_price .active_dvs{width:22%;}
.total_price .icon_dvs {width:4%}
.total_price > li > dl, .total_price .total_top {width:100%; display:table;}
.total_price dl > dt, .total_price dl > dd, .total_price .total_top > div {display:table-cell; height:30px; }
.total_price dl > dt {text-align:left; width:45%;}
.total_price dl > dd {text-align:right; width:55%;}
.total_price .total_top > *{ padding:15px 15px; font-weight:600;}
.total_price > li:first-child > .total_top > * {font-weight:400;}
.total_price .total_top > div {padding:14px 15px 15px;}
.total_price .price_item > *{padding:10px 15px;}
.total_price .price_item.v2 > dt{padding:10px 15px 10px 20px;}
.total_price .total_top {background:#f9fafc; text-align:center; border-bottom:1px solid #ccc; font-size:13px;}
.total_price .active_dvs, .total_price .active_dvs .total_top{background:#454e5d; color:#FFF;}

.noticetr { background-color: #e7f2fc }

/*** 퍼스트몰 라이브 ***/
/* swipe toggle ui */
.btn-onoff {position:relative; margin:0 auto; width:60px; height:29px; padding:5px; box-sizing:border-box; background:url('../images/common/app-bg-display-bg.png') no-repeat center top; background-size:100% 100%; box-shadow:0px 0px 10px rgba(256,256,256,0.3); border-radius:30px; cursor:pointer;}
.btn-onoff.on {background:url('../images/common/app-bg-display-bg-on.png') no-repeat center top; background-size:100% 100%;}
.btn-onoff button {position:absolute; left:0; margin-left:5px; border:none; width:18px; height:18px; text-indent:-999em; cursor:pointer;}
.btn-onoff .btn-off.on, .btn-onoff .btn-on.on {background:url('../images/common/app-btn-display-ball.png') no-repeat center top; background-size:100% 100%;}
.list_thumb {width:50px; height:50px; overflow:hidden; position: relative; display:inline-block;}
.list_thumb > img {max-width:100%; position: absolute; transform: translate(0, -50%); left: 0; top: 50%;}

/* 라이브커머스 사용량 */
.live-used-stat { display: inline-flex }
.live-used-stat dl { display: flex; }
.live-used-stat dt { margin-right: 10px; color: #a3a3a3; }
.live-used-stat dd { margin-right: 15px; }

input[type='text'].right{ font-family: sans-serif !important; padding:6px 7px !important;}














/*** 퍼스트몰 라이브 ***/
/* swipe toggle ui */
.btn-onoff {position:relative; margin:0 auto; width:60px; height:29px; padding:5px; box-sizing:border-box; background:url('../images/common/app-bg-display-bg.png') no-repeat center top; background-size:100% 100%; box-shadow:0px 0px 10px rgba(256,256,256,0.3); border-radius:30px; cursor:pointer; display:inline-block;}
.btn-onoff.on {background:url('../images/common/app-bg-display-bg-on.png') no-repeat center top; background-size:100% 100%;}
.btn-onoff button {position:absolute; left:1px; margin-left:5px; border:none; width:18px; height:18px; text-indent:-999em; cursor:pointer; display:inline-block; }
.btn-onoff .btn-off.on, .btn-onoff .btn-on.on {background:url('../images/common/app-btn-display-ball.png') no-repeat center top; background-size:100% 100%; }
.list_thumb {width:50px; height:50px; overflow:hidden; position: relative; display:inline-block;}
.list_thumb > img {max-width:100%; position: absolute; transform: translate(0, -50%); left: 0; top: 50%;}

/* 라이브커머스 사용량 */
.live-used-stat { display: inline-flex;}
.live-used-stat dl { display: flex; }
.live-used-stat dt { margin-right: 10px; color: #a3a3a3; }
.live-used-stat dd { margin-right: 15px; }

.search_container {margin: 30px 0 10px 0; width: 100%;}


/**/
.contentsWarp{padding:48px 20px 20px; position:relative;}

/*타이틀 영역*/
#page-title-bar-area {position:absolute; width:100%; left:0; top:0; background:#FFF;}
#page-title-bar-area #page-title-bar .page-manual-btn {left:auto; margin-left: 7px !important;}
.footer_btn_wrap{display:inline-block;}

/*정산 테이블*/
#account_table {border-top:0 !important; border-left: 1px solid #dadada !important; }
#account_table > .calc-table-style {border-right: 1px solid #dadada !important; }
.calc-left-table-style thead th, .calc-table-style thead th {background-color: #f1f4fb !important;}
.calc-left-table-style thead th:last-child {border-right:0 !important;}
.calc-left-table-style thead th:first-child {border-left: 1px solid #dadada;}
.account-table-header-scrollbar{border-right: 0 !important; }
.account-table-grid-right-header.account-table-header-scrollbar{border-right: 1px solid #dadada !important; }
.calc-table-style tbody td:last-child, .calc-table-style tfoot td:last-child{border-right: 0;}
.table_row_frame .dvs_top, .table_row_frame .dvs_bottom {border-right: 1px solid #d7d6db;}


/*마지막 안내 메시지 상단 여백*/
.contentsWarp > div.box_style_05 {margin-top:20px;}
.contentsWarp .footer{margin-top:20px; text-align:center; }
.contentsWarp #page-title-bar-area + ul.tab_02, .contentsWarp #page-title-bar-area + ul.tab_01 { margin-top: 25px;}
.tab_02 {display:inline-block; border-left:1px solid #d6d6d6; margin-bottom:5px; line-height:2.4; border-bottom:1px solid #0f4897; width:100%;}
.tab_02 > li {float: left;}
.tab_02 > li > a {display:inline-block; cursor: pointer; border-top:1px solid #d6d6d6; border-right:1px solid #d6d6d6; padding:3px 30px;  width:auto; text-align:center; background-color: #f9fafc; color: #000;}
.tab_02.w160 > li > a {width:160px;}
.tab_02 .current {background:#FFF; border:1px solid #0f4897; border-bottom:1px solid #FFF; margin-bottom:-1px; margin-left:-1px; color:#0f4897; font-weight:600;}


#page-title-bar-area #page-title-bar.flyingMode .page-manual-btn {position: relative; display: inline-block; left: 0; top: -21px !important;}

/*상품*/
.catagroy_tree_list {display:inline-block; width:312px; vertical-align: top;}
.catagroy_setting_content {display: inline-block; width:calc(100% - 320px); vertical-align: top;}


.table_basic input[type=text], .table_basic input[type=password], .table_basic textarea, .table_basic select, .contents_container input[type=text], .contents_container select {box-sizing: border-box;}


.resp_limit_text > * {float: left;}
.resp_limit_text input[type='text']{border:0 !important; vertical-align: top; padding: 9px 10px 8px !important;}

/*오픈마켓*/
#orderList, #claimList, #marketQnaList{height: calc(100% - 30px) !important;}
input[type="radio"], input[type="checkbox"]{width: 19px; height: 19px;}
.grid-lay {border-right: 1px solid #ccc !important; border-left: 1px solid #ccc !important;}
.jsgrid-grid-header {border-top: 0px solid #ccc !important;}


.ui-dialog-content {line-height:1.2;}

.ico_floating_top { opacity:1; display: inline-block; position: fixed; right: 20px; bottom: 130px; background: url(../images/common/top_bt.png) no-repeat; background-size: 50px; width: 50px; height: 50px; transition: all 0.3s; -webkit-transition: all 0.3s; z-index: 3000;}
.ico_floating_top.off{opacity:0; transition: all 0.3s; -webkit-transition: all 0.3s; pointer-events: none;}


.flex_wrap {display: flex;}
.flex_wrap > .contents_dvs {margin-top:0; margin-bottom:0;}
.flex_wrap > * {flex-grow: 1;}
.flex_wrap.grow2 {flex-grow: 2;}
.flex_wrap.v2 > * {flex-grow: initial;}

.contents_dvs + .box_style_05 {margin-top: 10px;}

.calc-table-style thead th {padding:8px 0px !important;}

.list_info_container input[type="text"] {padding: 7px 4px;}
div.image-preview-wrap {margin:0;}
.title_dvs > .resp_btn, .title_dvs > .btn_resp, .title_dvs > .resp_btn_dvs {bottom: auto; top:5px;}
.zsfText {height: 27px !important; line-height: 27px !important;}
#layout-header .header-gnb-container ul.header-gnb li.mitem-td div.submenu ul li a {padding:0 10px;}
#layout-header .header-gnb-container ul.header-gnb li.mitem-td div.submenu-wrapper {margin-right: -1px;}
.datepicker {min-width: 100px;}
.sst-skin-wrap {border-top: 1px solid #ccc !important;}
.page-goods-helper-btn table {padding-right: 0px !important;}
.issueCountZero {text-indent: -999px; overflow: hidden;}
.qnb-config .issueCount {left:40px !important; top:0px !important;}
#layout-header.icon-view .header-gnb-issueCount-layer {right:auto; top: px; margin-left: -1px;}
#page-title-bar-area select {height:32px;}
.flex_wrap > li {width:calc(50% - 10px) !important;}
.ico_floating_top {display:none;}



