/***********블루4***********/
#layout_header {background-color:#1c306d;}
#layout_header h1 a {color:#ffffff;}

.btn_style {display:inline-block; background-color:#ffffff; border:1px solid #c0c0c0; border-radius:2px !important; padding:0 10px; height:28px; line-height:28px; font-size:13px; font-family:dotum; font-weight:bold; color:#565960; letter-spacing:-1px;}
.btn_style:disabled {color:#c0c0c0;}
.btn_important_large {display:inline-block; background-color:#4063bf; border:1px solid #1e316b; border-radius:5px !important; height:42px; line-height:42px; font-size:16px; font-family:dotum; font-weight:bold; color:#ffffff; letter-spacing:-1px;}
.btn_important_small {display:inline-block; background-color:#4063bf; border:1px solid #1e316b; border-radius:3px !important; height:32px; line-height:32px; font-size:14px; font-family:dotum; font-weight:bold; color:{color_btnimportant_t2}; letter-spacing:-1px;}
.btn_normal_large {display:inline-block; background-color:#ffffff; border:1px solid #c0c0c0; border-radius:5px !important; height:42px; line-height:42px; font-size:16px; font-family:dotum; font-weight:bold; color:#1d316c; letter-spacing:-1px;}
.btn_normal_small {display:inline-block; background-color:#ffffff; border:1px solid #c0c0c0; border-radius:3px !important; height:36px; line-height:32px; font-size:14px; font-family:dotum; font-weight:bold; color:#1d316c; letter-spacing:-1px;}
.btn_cancel_large {display:inline-block; background-color:#ffffff; border:1px solid #c0c0c0; border-radius:5px !important; height:42px; line-height:42px; font-size:16px; font-family:dotum; font-weight:bold; color:#565960; letter-spacing:-1px;}
.btn_cancel_small {display:inline-block; background-color:#ffffff; border:1px solid #c0c0c0; border-radius:3px !important; height:36px; line-height:32px; font-size:14px; font-family:dotum; font-weight:bold; color:#565960; letter-spacing:-1px;}
.btn_arw_up {position:relative; display:inline-block; min-width:40px; box-sizing:border-box; height:28px; line-height:28px; padding-left:10px; padding-right:25px; font-weight:bold; color:#61656d; background-color:#fff; border:1px solid #c1c2c5; border-radius:3px !important; font-size:12px; text-align:left;}
.btn_arw_up_icon {position:absolute; right:8px; top:50%; margin-top:-3px; width:8px; height:5px; background:url('../images/design/ico_arw_close_s.png') no-repeat right center; background-size:8px 5px;}
.btn_arw_dn {position:relative; display:inline-block; min-width:40px; box-sizing:border-box; height:28px; line-height:28px; padding-left:10px; padding-right:25px; font-weight:bold; color:#61656d; background-color:#fff; border:1px solid #c1c2c5; border-radius:3px !important; font-size:12px; text-align:left;}
.btn_arw_dn_icon {position:absolute; right:8px; top:50%; margin-top:-1px; width:8px; height:5px; background:url('../images/design/ico_arw_open_s.png') no-repeat right center; background-size:8px 5px;}
.btn_arw_up_gray {position:relative; display:inline-block; min-width:40px; height:28px; line-height:28px; padding-left:10px; padding-right:25px; font-weight:bold; color:#61656d; background-color:#fff; border:1px solid #c1c2c5; border-radius:3px !important; font-size:12px; text-align:left;}
.btn_arw_dn_gray {position:relative; display:inline-block; min-width:40px; height:28px; line-height:28px; padding-left:10px; padding-right:25px; font-weight:bold; color:#61656d; background-color:#fff; border:1px solid #c1c2c5; border-radius:3px !important; font-size:12px; text-align:left;}

/* 모바일 서브페이지 타이틀바 */
.sub_title_bar {position:relative; background-color:#eeeff1; border-bottom:1px solid #c3c3c3; height:32px;}
.sub_title_bar h2 {text-align:center; height:32px; line-height:32px;}
.sub_title_bar h2,
.sub_title_bar h2 a {color:#373737; font-size:16px; letter-spacing:-1px; font-family:dotum;}
.sub_title_bar .stb_back_btn {position:absolute; left:10px; top:50%; margin-top:-7px;}
.sub_title_bar .stb_back_btn img {width:15px; height:15px;}
.sub_title_bar .stb_relation_btn {position:absolute; right:5px; top:3px}
.sbt_relation_contents {display:none; position:relative;z-index:10;}

/* 셀렉트박스 */
.sbOptions {border-top-color:#4a5396}
.sbOptions a.sbFocus {background-color:#f8f3f2}
.sbHolderFocus {border-color:#4a5396}

.total_sum_price {background-color:#0084c4; padding:15px 0px;}
.total_sum_price table { font-size:16px; letter-spacing:-1px; color:#fff}
.total_sum_price table th {height:27px; padding:0px 0px 0px 10px; font-weight:normal;}
.total_sum_price table td {padding:0px 10px; font-weight:normal;}
.total_sum_price table tbody.sub th,
.total_sum_price table tbody.sub td {height:25px; background-color:#0074b4; font-size:14px}
.total_sum_price .sum_price { font-size:16px;}

.total_goods_price_area {font-size:28px; font-family:helvetica,sans-serif; font-weight:Bold; color:#4162bf;}